tests.txt
.env

# Ignore VS Code settings
.vscode/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.eggs/
*.whl
*.mypy_cache/
*.pytest_cache/
*.coverage
*.cover
*.hypothesis/

# Ignore python libraries
layers/lib/

#Macos
.DS_Store

#Windows
Thumbs.db
ehthumbs.db
Desktop.ini

.DS_Store
