tests.txt
.env

# Ignore VS Code settings
.vscode/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.eggs/
*.whl
*.mypy_cache/
*.pytest_cache/
*.coverage
*.cover
*.hypothesis/